{% extends 'base.html' %}

{% block body %}
<ul style='list-style-type:none'><li>
{% if error_status == '401' %}
	Looks like this account is protected.
	{% if not request.session.auth_username %}
		<p>If you follow this person, <a href='/login'>log in through twitter</a> to see their twarchive.</p>
	{% else %}
		<br/><br/>
	{% endif %}
{% else %}
	<!-- {{error_status}} -->
	We're having trouble. Twitter might be down, or we might be making too many requests right now.
	{% if not request.session.auth_username %}
		<p>If twitter is up, try <a href='/login'>logging in through twitter.</a></p>
	{% endif %}
{% endif %}
</li></ul>
{% endblock %}