{% load retro_follow_tags %}
{% if error_message %}{{ error_message }} {% endif %}
<body style='margin:0px; background-color:black;'>
<div> looks like this user's earliest tweets are no longer available
<div style='float:left; width:500px; padding-left:150px; padding-right:150px; padding-top:50px; background-color:white;'>
<b>{{user.username}}</b>
{% if user.old_timer_and_or_gabber %}
<span style="float:right;">(looks like this user's earliest tweets are no longer available)</span>
{% endif %}
<ul style='list-style-type:none'>
{% for t in tweets %}
    <li>{{t.text|urlize|atreply:request.META.HTTP_HOST}} <br/> --  {{t.created_at}}<br/><br/></li>{# add empty #}
{% endfor %}
{% if next_page %}
<li align="center"><a href={{next_page}}>next</a></li>
{% endif %}
</ul>

</div>
<div style='float:right;'></div>
</div>
</body>
