{% extends 'base.html' %}
{% load retro_follow_tags %}

{% block body %}
{% if user.old_timer_and_or_gabber %}
<span style="float:right;">(looks like this user's earliest tweets are no longer available)</span>
{% endif %}
<ul style='list-style-type:none'>
{% for t in tweets %}
    <li>
	{{t.text|urlize|atreply:request.META.HTTP_HOST}}
	<br/> <span class='permalink'>--  <a href='{{t.get_absolute_url}}'>{{t.created_at}}</a></span><br/><br/>
	</li>{# add empty #}
{% endfor %}

{% if next_page %}
<li align="center">
	{% if prev_page %}
	<a href={{prev_page}}>previous</a> |
	{% endif %}
<a href={{next_page}}>next</a>
</li>
{% endif %}
</ul>
{% endblock %}